
body {
    margin: 0px;
    font-family: 'PT Serif', serif;
    background-color: #191919;
    min-width: 700px;
}
* { margin: 0px; padding: 0px; outline: none;}

#logo {
  position: relative;
  height: 34px;
  top: 12px;
}
#head {
  display: block;
  height: 60px;  
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: white;
}
#login {
  text-decoration: none;  
  display: block;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
}
#login>div {
  box-sizing: border-box;
  height: 100%;  
  color: #191919;
  font-weight: bold;
  background-color: white;
  padding: 18px;
  padding-right: 24px; padding-left: 24px;
  transition-duration: 0.2s;
}
#login:hover>div {
  color: white;  
  background-color: #D31633;  
}


#projects {
  height: 800px;
  background-color: #191919;
}