body {
    background-color: #f2f2f2;
}



.title {
    width: 100%;
    padding: 10px;
    color: white;
    height: 200px;
}

.title h4 {
    margin-top: 65px;
    font-weight: lighter;
}

.icon {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.inline {
    display: inline-block;
}
.editing {
    padding: 20px 20px 20px 20px;
}

.theme-bg {
    background-color: #f2f2f2;
}

.theme-text {
    color: #2C3E50 !important;
}

.red {
    background-color: #d31633 !important;
}


.waves-effect.waves-theme .waves-ripple {
    background-color: rgba(211, 22, 51, 0.65) !important;
}

.four {
    background: #d31633; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}